---
import Layout from '../layouts/page.astro'
import PageNotFoundImage from '../images/404.jpg'
---

<Layout>
    <section class="not-found">
        <h1>404 Page not found</h1>
        <img
            src={PageNotFoundImage}
            alt="404 Page not found"
            class="banner-image"
            loading="eager"
        />
        <p>It appears the page you are seeking to visit cannot be found</p>
        <p>
            <a href="/">
                Home
            </a>
        </p>
    </section>
</Layout>

<style>
    .not-found {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        max-width: 500px;
        text-align: center;
    
    }
    
    .not-found h1 {
        font-size: 2rem;
    }
    
    .not-found img {
        display: block;
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
    
    }
  </style>