---
const navList = [
    {
        path: '/',
        label: 'Home'
    },
    {
        path: '/buy',
        label: 'Buy'
    },
    {
        path: '/blog',
        label: 'Blog'
    },
    {
        path: '/about',
        label: 'About'
    },
]
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleais.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="icon" href="favicon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="https://fonts.googleais.com/css2?family=DynaPuff:wght@700&display=swap" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <title>Astro Bookstore</title>
    </head>
    <body>
        <header>
            <a href="/" rel="home">
                <span role="img" aria-label="book">
                    Astro Bookstore
                </span>
            </a>
            <nav>
                { 
                    navList.map(({ label, path }) => <a href={path}>{label}</a> )
                }
            </nav>
        </header>
        <!-- slots are used to display components or link pages in Astro -->
        <slot />
    </body>
</html>

<!-- The styles are provided along with the template. Astro would take care of all the inline stylings and optimizations. The styles provided here are scoped and align it with the template in the same file. is:global would make all hte styles mentioned within the block as global and not restrict/scope it within the file where it was mentioned. -->
<style is:global>
    :root{
        --primary-gray-100: rgb(240, 240, 240);
        --primary-gray-200: rgb(218, 218, 218);
        --primary-gray-600: rgb(119, 119, 119);
        --primary-gray-700: rgb(55, 55, 55);
        --primary-gray-800: rgb(60, 60, 60, 1);
        --primary-gray-900: rgb(30, 30, 30, 1);
    }
    *{
        box-sizing: border-box;
    }
    html{
        font-family: -apple-system, BlinkMacSystemFont, 'Segow UI', Roboto, Arial, Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 18px;
        line-height: 1.45;
    }
    body{
        margin: 0;
    }
    is(h1, h2, h3, h4, h5, h6){
        font-family: cursive;
        font-weight: 700;
        line-height: 1.1;
        margin: 1.5rem 0 0;
    }
    .container{
        padding: 3rem max(5vw, calc((100%-800px)/2));
    }

    .button-link{
        background-color: var(--primary-gray-900);
        border: none;
        border-radius: 0.25rem;
        color: white;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0.5rem;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0.5rem;
        padding-right: 1.25rem;
        padding-bottom: 0.5rem;
        padding-left: 1.25rem;
        text-decoration: none;
        transition: background-color 150ms linear;
        cursor: pointer;
    }

    .big-link:hover{
        background-color: var(--primary-gray-800);
    }

    .big-link:is(:active, :focus){
        outline: 2px solid var(--primary-gray-900);
        outline-offset: 4px;
    }
</style>

<style>
   header{
    align-items: baseline;
    background: var(--primary-gray-100);;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
   }

   .container{
        padding: 3rem max(5vw, calc((100%-800px)/2));
    }

   a[rel='home']{
    color: inherit;
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
   }
   
   nav{
    display: flex;
    gap: 1rem;
   }

   nav a{
    color: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
   }

   @media (min-width: 500px) {
    header{
        flex-direction: row;
    }
   }

</style>