<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleais.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="icon" href="favicon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="https://fonts.googleais.com/css2?family=DynaPuff:wght@700&display=swap" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <title>Astro Bookstore</title>
    </head>
    <body>
        <header>
            <a href="/" rel="home">
                <span role="img" aria-label="book">
                    Astro Bookstore
                </span>
            </a>
        </header>
        <!-- slots are used to display components or link pages in Astro -->
        <slot />
    </body>
</html>